<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
{% if use_recapcha%}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    var FormedOnSubmit = function(token) {
          console.log('success!',token);
        };
</script>
{%endif%}
<form action="{{ form_action }}" method="post" class="form form-page" id="form-{{ form.id }}">
    {% if use_recapcha %}
            <script src='https://www.google.com/recaptcha/api.js' async defer></script>
            <script>
                var FormedOnSubmit = function (token) {
                    document.getElementById("form-{{ instance.id }}").submit();
                };
            </script>
        {% endif %}
    {% csrf_token %}

    {% if form.page.name %}
    <h2 class="form-page-name">{{ form.page.name }}</h2>
    {% endif %}

    {% if form.page.introduction %}
    <p class="form-page-introduction">{{ form.page.introduction }}</p>
    {% endif %}

    {{ form.hidden_fields|join:'' }}

    {{ form.page }}

    {% comment %}
    {% for fieldset in form.page %}
    <fieldset class="fieldset">
        {% if fieldset.legend %}
        <legend class="legend">{{ fieldset.legend }}</legend>
        {% endif %}
        {% for row in fieldset.rows %}
        <div class="form-row">
            {% for field in row.fields %}
            {{ field.errors }}
            <div class="form-field{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
                {{ field.label_tag }}
                {{ field.field }}
                {{ field.help_text }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}
    {% endcomment %}
    <p>
        {# Make the 'next' submit the first submit button for when the user presses 'enter'. #}
        {% if use_recapcha %}
                    <input type="submit" class="button button-submit button-next g-recaptcha" name="{{ next_page_field_name }}"
                           data-callback="FormedOnSubmit" data-sitekey="{{ recaptcha_site_key }}"
                           value="{{ _('Submit') }}"/>
                {% else %}
        <input type="submit" name="{{ next_page_field_name }}" value="{{ _('Submit') }}"/>
        {%endif%}
        {% if form.has_previous_page %}
        <input type="submit" name="{{ previous_page_field_name }}" value="{{ _('Go back') }}">
        {% endif %}
    </p>
</form>

</body>
</html>
